[Desktop Entry]
Encoding=UTF-8
Name=SmartCloud
Comment=SmartCloud P2P Cryptocurrency
Comment[fr]=SmartCloud, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SmartCloud, eşten eşe kriptografik sanal para birimi
Exec=smartcloud-qt %u
Terminal=false
Type=Application
Icon=smartcloud128
MimeType=x-scheme-handler/smartcloud;
Categories=Office;Finance;
