[Unit]
Description=SmartCloud's distributed currency daemon
After=network.target

[Service]
User=smartcloud
Group=smartcloud

Type=forking
PIDFile=/var/lib/smartcloudd/smartcloudd.pid

ExecStart=/usr/bin/smartcloudd -daemon -pid=/var/lib/smartcloudd/smartcloudd.pid \
          -conf=/etc/smartcloud/smartcloud.conf -datadir=/var/lib/smartcloudd

ExecStop=-/usr/bin/smartcloud-cli -conf=/etc/smartcloud/smartcloud.conf \
         -datadir=/var/lib/smartcloudd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
